<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="SkidSteerDrivePlugin"
                filename="skid_steer_drive/libDdsSkidSteerDrivePlugin.so">
            <dds_domain_id>0</dds_domain_id>
            <topic_name_twist>cmd_vel</topic_name_twist>
            <topic_name_odometry>odom</topic_name_odometry>
            <topic_name_joint>joint</topic_name_joint>
            <right_front_joint>front_right_wheel_joint</right_front_joint>
            <right_rear_joint>back_right_wheel_joint</right_rear_joint>
            <left_front_joint>front_left_wheel_joint</left_front_joint>
            <left_rear_joint>back_left_wheel_joint</left_rear_joint>
            <wheel_separation>0.88518</wheel_separation>
            <wheel_diameter>0.15</wheel_diameter>
            <wheel_torque>5.0</wheel_torque>
            <update_rate>2</update_rate>
            <covariance_x>0.000168</covariance_x>
            <covariance_y>0.0001</covariance_y>
            <covariance_yaw>0.01</covariance_yaw>
        </plugin>
    </gazebo>
</robot>